{
  "jsc": {
    "target": "es2019",
    "parser": { "syntax": "typescript", "decorators": true },
    "transform": { "legacyDecorator": true, "decoratorMetadata": true },
    "loose": true,
    "externalHelpers": false
  },
  "module": { "type": "commonjs" },
  "sourceMaps": true
}
